@font-face {
    font-family: 'Work Sans';
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Didact Gothic';
    src: url(../fonts/DidactGothic-Regular.ttf);
}

@font-face {
    font-family: 'Fjalla One';
    src: url(../fonts/FjallaOne-Regular.ttf);
}

Farben{
color: #9e9e9e, #fff, #000, #333, #666
}

/* test */