@font-face {
    font-family: 'Work Sans';
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Didact Gothic';
    src: url(../fonts/DidactGothic-Regular.ttf);
}

@font-face {
    font-family: 'Fjalla One';
    src: url(../fonts/FjallaOne-Regular.ttf);
}